html, body {
  height: 100vh;
  
  font-family: 'Microsoft JhengHei', '微軟正黑體', sans-serif;
}



.App {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
}

nav {
  width: 20%;
  max-height: 100vh;
  background-color: rgb(64, 37, 82);
  box-shadow: 20 8px 20px 0 rgba(0,0,0,0.2);
}

.renderWrapper {
  width: 80%;
  background-color: #FAFAFC;
}

.user {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #FAFAFC solid;
  
}

.user img {
  margin-top: 3vh;
  border-radius: 50%;
  height: 20vh;
  width: 10vw;
  
}


.menu {
  height: 100%;
}

.menu ul {
  padding: 0;
  margin: 0 auto;
}

.menu li {
  padding: 3vh;
  padding-right: 0;
  list-style-type: None;
  text-align: center;
}

.menu li:hover {
  padding: 3vh;
  list-style-type: None;
  text-align: center;
  background-color: rgb(255, 252, 172);
}

.content-wrapper {
  
  width: 100%;
}